@model SalonesWEB.Models.Persona.PersonasModel

@{
    ViewData["Title"] = "Gestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@

<nav class="navbar navbar-expand-sm navbar-light bg-light" style="margin-top:67px;">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a data-toggle="tab" class="nav-link" href="#home1">Gestión Clientes</a>
            </li>

        </ul>
    </div>
</nav>
<div class="card o-hidden border-0 shadow-lg my-n2">
    <div class="tab-content">
        <br />
        @* Persona *@
        <div class="tab-pane active" id="home1">
            <form class="user" style="margin:2%">
                <div class="form-group row">

                    <div class="col-sm-3 mb-3 mb-sm-3" hidden>
                        @Html.Hidden("id")
                    </div>
                    <div class="col-sm-3 mb-3 mb-sm-3">
                        <label class="col-form-label" for="primerNombre"><span style="color:red">*</span>Primer Nombre</label>
                        @Html.EditorFor(Model => Model.primerNombre, new { htmlAttributes = new { @class = "form-control", @placeholder = "Primer Nombre", @required = "required" } })
                    </div>
                    <div class="col-sm-3 mb-3 mb-sm-3">
                        <label class="col-form-label" for="segundoNombre">Segundo Nombre</label>
                        @Html.EditorFor(Model => Model.segundoNombre, new { htmlAttributes = new { @class = "form-control", @placeholder = "Segundo Nombre" } })
                    </div>
                    <div class="col-sm-3 mb-3 mb-sm-3">
                        <label class="col-form-label" for="primerApellido"><span style="color:red">*</span>Primer Apellido</label>
                        @Html.Editor("primerApellido", new { htmlAttributes = new { @class = "form-control", @placeholder = "Primer Apellido", @required = "required" } })
                    </div>
                    <div class="col-sm-3 mb-3 mb-sm-3">
                        <label class="col-form-label" for="segundoApellido">Segundo Apellido</label>
                        @Html.Editor("segundoApellido", new { htmlAttributes = new { @class = "form-control", @placeholder = "Segundo Apellido" } })
                    </div>
                    <div class="col-sm-3 mb-3 mb-sm-3">
                        <label class="col-form-label" for="identificacion"><span style="color:red">*</span>Número Identificacion</label>
                        @Html.Editor("identificacion", new { htmlAttributes = new { @class = "form-control", @placeholder = "Número Identificacion", @required= "required" } })
                    </div>
                    <div class="col-sm-3 mb-3 mb-sm-3">
                        <label class="col-form-label" for="telefono"><span style="color:red">*</span>Telefono</label>
                        @Html.Editor("telefono", new { htmlAttributes = new { @class = "form-control", @placeholder = "Telefono-Celular", @required = "required" } })
                    </div>
                    <div class="col-sm-3 mb-3 mb-sm-3">
                        <label class="col-form-label" for="correo"><span style="color:red">*</span>Correo</label>
                        @Html.Editor("correo", new { htmlAttributes = new { @class = "form-control", @placeholder = "Mail", @required = "required" } })
                    </div>
                    <div class="col-sm-3 mb-3 mb-sm-3">
                        <label class="col-form-label" for="edad"><span style="color:red">*</span>Edad</label>
                        @Html.DropDownList("edad",null, "Seleccione rango de Edad", htmlAttributes: new { @class = "form-control collapse-inner", @required = "required" } )
                        @*<select id="edad" name="edad" class="form-control bg-white collapse-inner" required style="width:100%;color:blue;">
                            <option value="" class="col-sm-3 mb-3 mb-sm-3">Seleccione Edad</option>
                        </select>*@
                    </div>
                    <div class="col-sm-3 mb-3 mb-sm-3">
                        <label class="col-form-label" for="pais">Pais</label>
                        @Html.DropDownList("pais", null, "Seleccione el Pais", htmlAttributes: new { @class = "form-control collapse-inner" })
                        @*<select id="pais" name="pais" class="form-control bg-white collapse-inner" required style="width:100%;color:blue;">
                            <option value="" class="col-sm-3 mb-3 mb-sm-3">Seleccione el Pais </option>
                        </select>*@
                    </div>
                    <div class="col-sm-3 mb-3 mb-sm-3">
                        <label class="col-form-label" for="departamento">Departamento</label>
                        @Html.DropDownList("departamento", null, "Seleccione el Departamento", htmlAttributes: new { @class = "form-control collapse-inner" })

                        @*<select id="departamento" name="departamento" class="form-control bg-white collapse-inner" required style="width:100%;color:blue;">
                            <option value="" class="col-sm-3 mb-3 mb-sm-3">Seleccione el Departamento </option>
                        </select>*@
                    </div>
                    <div class="col-sm-3 mb-3 mb-sm-3">
                        <label class="col-form-label" for="idCiudad"><span style="color:red">*</span>Ciudad</label>
                        @Html.DropDownList("idCiudad", null, "Seleccione la Ciudad", htmlAttributes: new { @class = "form-control collapse-inner", @required = "required" })

                        @*<select id="idCiudad" name="idCiudad" class="form-control bg-white collapse-inner" required style="width:100%;color:blue;">
                            <option value="" class="col-sm-3 mb-3 mb-sm-3">Seleccione el Ciudad</option>
                        </select>*@
                    </div>
                    <div class="col-sm-3 mb-3 mb-sm-3">
                        <label class="col-form-label" for="btnCrear">.</label>
                        <button type="button" class="form-control btn-secondary" id="btnCrear" placeholder="Guardar" style="background: #4e73df;font-size:15px;color:white;">Guardar</button>
                        <a class="fa fa-reply" asp-action="GetPersonas">Back to List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    var api = localStorage.getItem("api");
    var update = false;
    var id = '@ViewBag.idString';
    var pais = "";
    var departamento = "";
    var idCiudad = "";
    var edad = "";

    $(document).ready(function () {
        $(".collapse-inner").select2();
        
        if (id != "") {
            update = true;
        }
        else {
            DropListPais();
        }
    });

    $("#btnCrear").click(function () {
        idCiudad = $("#idCiudad").val();
        
        var entidad = {
            id: parseInt(id),
            primerNombre: $("#primerNombre").val(),
            segundoNombre: $("#segundoNombre").val(),
            primerApellido: $("#primerApellido").val(),
            segundoApellido: $("#segundoApellido").val(),
            identificacion: $("#identificacion").val(),
            telefono: $("#telefono").val(),
            correo: $("#correo").val(),
            edad: parseInt($("#edad").val()),
            idCiudad: parseInt(idCiudad)
        }
        
        if (update == false) {
            $.ajax({
                url: `${api}/api/Personas/CreatePersona`,
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: 'JSON',
                cache: false,
                traditional: true,
                async: true,
                data: JSON.stringify(entidad),
                header: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                success: function (response) {
                    
                    if (response.ok) {
                        toastr.success(response.mensaje);
                    } else {
                        toastr.warning(response.mensaje);
                    }
                },
                error: function (data) {
                    
                   toastr.error("No pudimos completar tu solicitud!");
                }
            });
        }
        else if (id != "" && id != undefined && id != NaN) {
            $.ajax({
                url: `${api}/api/Personas/ActualizarPersona`,
                type: 'PUT',
                contentType: "application/json; charset=utf-8",
                dataType: 'JSON',
                cache: false,
                traditional: true,
                async: true,
                data: JSON.stringify(entidad),
                header: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                success: function (ok) {

                    if (ok) {
                        toastr.success("success");
                    } else {
                        toastr.warning(ok.mensaje);
                    }
                },
                error: function (data) {
                    toastr.error("No pudimos completar tu solicitud!");
                }
            });
        }
        else {
            toastr.warning("selecciona una accion!");
        }
    });

    function getPersona() {
        id= '@ViewBag.idString';
        if (id != "" && id != undefined && id != NaN) {
            var uri = `${api}/api/Personas/GetPersona`;
            var url = uri + '?' + $.param({ "buscar": "","id": id });
            $.ajax({
                url: url,
                type: 'get',
                success: function (response) {
                    
                    $("#id").val("");
                    id = "";
                    $("#primerNombre").val();
                    $("#segundoNombre").val();
                    $("#primerApellido").val();
                    $("#segundoApellido").val();
                    $("#identificacion").val();
                    $("#telefono").val();
                    $("#correo").val();
                    $("#edad").val();
                    idCiudad = "";

                    if (response.ok) {
                        toastr.success(response.message);
                        update = true;

                        id = response.persona.id;
                        $("#id").val(response.persona.id);
                        $("#primerNombre").val(response.persona.primerNombre);
                        $("#segundoNombre").val(response.persona.segundoNombre);
                        $("#primerApellido").val(response.persona.primerApellido);
                        $("#segundoApellido").val(response.persona.segundoApellido);
                        $("#identificacion").val(response.persona.identificacion);
                        $("#telefono").val(response.persona.telefono);
                        $("#correo").val(response.persona.correo);
                        $("#edad").val(response.persona.edad);
                        $("#idCiudad").val(response.persona.idCiudad);
                        idCiudad = response.persona.idCiudad;

                    } else {
                        toastr.warning("No pudimos procesar su Solicitud!");
                    };
                },
                error: function (jQXHR) {
                   toastr.error('error, No pudimos procesar su Solicitud!');
                }
            });
        }
    };

    function DropListPais() {
        $.ajax({
            url: `${api}/api/Comun/GetDropListPaises`,
            data: {},
            method: 'get',
            traditional: true,
            async: true,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            headers: {
                'Authorization': 'Bearer '
                    + localStorage.getItem("accessToken")
            },
            success: function (data) {
                $('#pais').empty();
                if (data.length>0) {

                    $('#pais').append($('<option>', {
                        value: "",
                        text: "Seleccione el Pais",
                    }));

                    $(data).each(function (i) {
                        $('#pais').append($('<option>', {
                            value: data[i].id,
                            text: data[i].paisNombre,
                        }));
                    });

                    if (pais != "" || data.length == 1) {
                        $("#pais").val(data[0].id).trigger('change.select2');
                        pais = data[0].id;
                        DropListDepartamentos();
                    }
                } else {
                    toastr.warning("No pudimos procesar su Solicitud!");
                }
            },
            error: function (data) {
                toastr.error("error!");
            }
        });
    }

    $("#pais").change(function ()
    {
        pais = $("#pais").val();
        DropListDepartamentos()
    });

    $("#departamento").change(function ()
    {
        departamento = $("#departamento").val();
        DropListCiudades()
    });

    function DropListDepartamentos() {

        if (pais != "" && pais != undefined) {
            $.ajax({
                url: `${api}/api/Comun/GetDropListDepartamentos`,
                data:
                {
                    buscar: "",
                    idPais: pais
                },
                method: 'get',
                traditional: true,
                async: true,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                headers: {
                    'Authorization': 'Bearer '
                        + localStorage.getItem("accessToken")
                },
                success: function (data) {
                    $('#departamento').empty();
                    
                    if (data.length>0) {
                        $('#departamento').append($('<option>', {
                            value: "",
                            text: "Seleccione el Departamento",
                        }));
                        $(data).each(function (i) {
                            $('#departamento').append($('<option>', {
                                value: data[i].id,
                                text: data[i].distritoDepartamento,
                            }));
                        });

                        if (data.length ==1) {
                            $("#departamento").val(data[0].id).trigger('change.select2');
                            departamento = data[0].id;
                            DropListCiudades();
                        }
                    } else {
                        toastr.warning("No encontramos Departamentos para el pais Seleccionado!");
                    }
                },
                error: function (data) {
                    toastr.error("error!");
                }
            });
        }
    }

    function DropListCiudades() {

        if (departamento != "" && departamento != undefined) {
            $.ajax({
                url: `${api}/api/Comun/GetDropListCiudades`,
                data:
                {
                    buscar: "",
                    idDepartamento: departamento
                },
                method: 'get',
                traditional: true,
                async: true,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                headers: {
                    'Authorization': 'Bearer '
                        + localStorage.getItem("accessToken")
                },
                success: function (data) {
                    $('#idCiudad').empty();

                    $('#idCiudad').append($('<option>', {
                        value: "",
                        text: "Seleccione la Ciuda",
                    }));
                    if (data.length>0) {
                        $(data).each(function (i) {

                            $('#idCiudad').append($('<option>', {
                                value: data[i].id,
                                text: data[i].ciudadNombre,
                            }));
                        });
                        if (data.length == 1) {
                            $("#idCiudad").val(data[0].id).trigger('change.select2');
                            idCiudad = data[0].id;
                        }
                    } else {
                        toastr.warning("No econtramos Ciudades para el Departamento Seleccionado!");
                    }
                },
                error: function (data) {
                    toastr.error("error!");
                }
            });
        }
    }

    function DropListEdades() {

        $.ajax({
            url: `${api}/api/Comun/GetDropListRangoEades`,
            data: {},
            method: 'get',
            traditional: true,
            async: true,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            headers: {
                'Authorization': 'Bearer '
                    + localStorage.getItem("accessToken")
            },
            success: function (data) {
                $('#edad').empty();

                $('#edad').append($('<option>', {
                    value: "",
                    text: "Seleccione un rango de Edad",
                }));
                if (data.ok) {
                    $(data.listEdades).each(function (i) {
                        $('#edad').append($('<option>', {
                            value: data.listEdades[i].id,
                            text: data.listEdades[i].rangoEdades,
                        }));
                    });
                    if (data.listEdades.length == 1) {
                        $("#edad").val(data.listEdades[0].id).trigger('change.select2');
                        edad = data.listEdades[0].id;
                    }
                } else {
                    toastr.warning(data.mensaje);
                }
            },
            error: function (data) {
                toastr.error("error!");
            }
        });
    }

</script>
