@model SalonesWEB.Models.Reservas.SalonesModel

@{
    ViewData["Title"] = "Gestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>

<hr />
<div class="card o-hidden border-0 shadow-lg my-n2">
    <div class="tab-content">
        <br />
        @* Persona *@
    <div class="tab-pane active" id="home1">
        <form asp-action="Gestion" class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row" style="padding:15px;margin: 5px">

                <div class="col-sm-3 mb-3 mb-sm-3" hidden>
                    @Html.Hidden("id")
                </div>
                <div class="col-sm-3 mb-3 mb-sm-3">
                    <label class="col-form-label" for="idPersonaCliente"><span style="color:red">*</span>Cliente</label>
                    @Html.EditorFor(Model => Model.idPersonaCliente, new { htmlAttributes = new { @class = "form-control", @placeholder = "Cliente" } })
                </div>
                <div class="col-sm-3 mb-3 mb-sm-3">
                    <label class="col-form-label" for="segundoNombre"><span style="color:red">*</span>Fecha Evento</label>
                    @Html.EditorFor(Model => Model.fechaEvento, new { htmlAttributes = new { @class = "form-control", @placeholder = "Fecha Evento" } })
                </div>
                <div class="col-sm-3 mb-3 mb-sm-3">
                    <label class="col-form-label" for="primerApellido"><span style="color:red">*</span>Cantidad Persona</label>
                    @Html.EditorFor(Model => Model.cantidadPersona, new { htmlAttributes = new { @class = "form-control", @placeholder = "Cantidad Persona", @required = "required" } })
                </div>

                <div class="col-sm-3 mb-3 mb-sm-3">
                    <label class="col-form-label" for="idMotivo"><span style="color:red">*</span>Motivo</label>
                    @Html.DropDownList("idMotivo", null, "Seleccione Motivo", htmlAttributes: new { @class = "form-control collapse-inner", @required = "required" })
                </div>
                <div class="col-sm-3 mb-3 mb-sm-3">
                    <label class="col-form-label" for="Observación"><span style="color:red">*</span>Observación</label>
                    @Html.TextAreaFor(Model => Model.observacion, new {  @class = "form-control", @placeholder = "Observación", @row="4",@columns="10", @required = "required" })
                </div>
                <div class="col-sm-3 mb-3 mb-sm-3">
                    <label class="col-form-label" for="btnCrear">.</label>
                    <button type="button" class="form-control btn-secondary" id="btnCrear" placeholder="Guardar" style="background: #4e73df;font-size:15px;color:white;">Guardar</button>
                </div>
            </div>
        </form>
    </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        
    </div>
</div>

<div>
    <a asp-action="GetSalones">Back to List</a>
</div>
<script>
    var api = localStorage.getItem("api");
    var update = false;
    var id = '@ViewBag.idString';
    var pais = "";
    var departamento = "";
    var idCiudad = "";
    var edad = "";

    $(document).ready(function () {
        $(".collapse-inner").select2();

        if (id != "") {
            update = true;
        }
        else {
            DropListPais();
        }
    });

    $("#btnCrear").click(function () {
        idCiudad = $("#idCiudad").val();

        var entidad = {
            id: parseInt(id),
            primerNombre: $("#primerNombre").val(),
            segundoNombre: $("#segundoNombre").val(),
            primerApellido: $("#primerApellido").val(),
            segundoApellido: $("#segundoApellido").val(),
            identificacion: $("#identificacion").val(),
            telefono: $("#telefono").val(),
            correo: $("#correo").val(),
            edad: parseInt($("#edad").val()),
            idCiudad: parseInt(idCiudad)
        }

        if (update == false) {
            $.ajax({
                url: `${api}/api/Personas/CreatePersona`,
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: 'JSON',
                cache: false,
                traditional: true,
                async: true,
                data: JSON.stringify(entidad),
                header: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                success: function (response) {

                    if (response.ok) {
                        toastr.success(response.mensaje);
                    } else {
                        toastr.warning(response.mensaje);
                    }
                },
                error: function (data) {

                   toastr.error("No pudimos completar tu solicitud!");
                }
            });
        }
        else if (id != "" && id != undefined && id != NaN) {
            $.ajax({
                url: `${api}/api/Personas/ActualizarPersona`,
                type: 'PUT',
                contentType: "application/json; charset=utf-8",
                dataType: 'JSON',
                cache: false,
                traditional: true,
                async: true,
                data: JSON.stringify(entidad),
                header: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                success: function (ok) {

                    if (ok) {
                        toastr.success("success");
                    } else {
                        toastr.warning(ok.mensaje);
                    }
                },
                error: function (data) {
                    toastr.error("No pudimos completar tu solicitud!");
                }
            });
        }
        else {
            toastr.warning("selecciona una accion!");
        }
    });

</script>
